.bg-pallete-1 {
	background-color: #4D089A !important;
}
.color-pallete-1 {
	color: #4D089A !important;
}
.bg-pallete-2 {
	background-color: #5BADDE !important;
}
.color-pallete-2 {
	color: #5BADDE !important;
}
.bg-pallete-3 {
	background-color: #D0A331 !important;
}
.color-pallete-3 {
	color: #D0A331 !important;
}
.bg-pallete-4 {
	background-color: #2E4668 !important;
}
.color-pallete-4 {
	color: #2E4668 !important;
}

/* Buttons */
.btn-outline-pallete-1 {
	color: #4D089A;
	border-color: #4D089A;
}
.btn-outline-pallete-1:hover {
    color: #fff !important;
    background-color: #4D089A !important;
    border-color: #4D089A !important;
}
.btn-pallete-1 {
	color: #fff;
	background-color: #4D089A;
	border-color: #4D089A;
	box-shadow: none;
}
.btn-pallete-1:hover {
	color: #fff !important;
	background-color: #4D089A !important;
	border-color: #4D089A !important;
}

.btn-outline-pallete-2 {
	color: #5BADDE;
	border-color: #5BADDE;
}
.btn-outline-pallete-2:hover {
    color: #fff !important;
    background-color: #5BADDE !important;
    border-color: #5BADDE !important;
}
.btn-pallete-2 {
	color: #fff;
	background-color: #5BADDE;
	border-color: #5BADDE;
	box-shadow: none;
}
.btn-pallete-2:hover {
	color: #fff !important;
	background-color: #5BADDE !important;
	border-color: #5BADDE !important;
}

.btn-outline-pallete-3 {
	color: #D0A331;
	border-color: #D0A331;
}
.btn-outline-pallete-3:hover {
    color: #fff !important;
    background-color: #D0A331 !important;
    border-color: #D0A331 !important;
}
.btn-pallete-3 {
	color: #fff;
	background-color: #D0A331;
	border-color: #D0A331;
	box-shadow: none;
}
.btn-pallete-3:hover {
	color: #fff !important;
	background-color: #D0A331 !important;
	border-color: #D0A331 !important;
}

.btn-outline-pallete-4 {
	color: #2E4668;
	border-color: #2E4668;
}
.btn-outline-pallete-4:hover {
    color: #fff !important;
    background-color: #2E4668 !important;
    border-color: #2E4668 !important;
}
.btn-pallete-4 {
	color: #fff;
	background-color: #2E4668;
	border-color: #2E4668;
	box-shadow: none;
}
.btn-pallete-4:hover {
	color: #fff !important;
	background-color: #2E4668 !important;
	border-color: #2E4668 !important;
}
/* Buttons */

.bg-cover-pallete:before {
    background: linear-gradient(to top, #4D089A, rgba(208, 164, 57, 0.38));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

/* iCheck */
.icheck-pallete-1>input:first-child:not(:checked):not(:disabled):hover+input[type=hidden]+label::before, .icheck-pallete-1>input:first-child:not(:checked):not(:disabled):hover+label::before {
    border-color: #4D089A !important;
}
.icheck-pallete-1>input:first-child:checked+input[type=hidden]+label::before, .icheck-pallete-1>input:first-child:checked+label::before {
    background-color: #4D089A !important;
    border-color: #4D089A !important;
}
.icheck-pallete-3>input:first-child:not(:checked):not(:disabled):hover+input[type=hidden]+label::before, .icheck-pallete-3>input:first-child:not(:checked):not(:disabled):hover+label::before {
    border-color: #D0A331 !important;
}
.icheck-pallete-3>input:first-child:checked+input[type=hidden]+label::before, .icheck-pallete-3>input:first-child:checked+label::before {
    background-color: #D0A331 !important;
    border-color: #D0A331 !important;
}
/* iCheck */
